<div class="container">            
            <form novalidate 
                    #f="ngForm"
                    (ngSubmit)="save()" style="margin-top:30px">
                <p class="h5 text-center mb-4">Mission Profile</p>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="missionName">Name</label>
                      <input type="text"
                          id="missionName"
                          [(ngModel)]="mission.name"
                          name="missionName" 
                          class="form-control" 
                          placeholder="Mission name" 
                          [readonly]="missionService.isMissionReadOnly"
                          #missionName
                          required>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="startDate">Start Date</label>
                      <input type="text" 
                          id="startDate"
                          [(ngModel)]="mission.startDate"
                          name="startDate" 
                          class="form-control" 
                          placeholder="Start date" 
                          [readonly]="missionService.isMissionReadOnly"
                          required>
                  </div>
              </div>
              <div class="form-row" style="margin-bottom:30px">
                <div class="form-group col-md-6">
                    <label for="routeStart">Route Start</label>
                    <input type="text" 
                        id="routeStart"
                        [(ngModel)]="mission.routeStart"
                        name="routeStart" 
                        class="form-control" 
                        placeholder="Route start" 
                        [readonly]="missionService.isMissionReadOnly"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="routeFinish">Route Finish</label>
                    <input type="text" 
                        id="routeFinish"
                        [(ngModel)]="mission.routeFinish"
                        name="routeFinish" 
                        class="form-control" 
                        placeholder="Route finish" 
                        [readonly]="missionService.isMissionReadOnly"
                        required>
                </div>
              </div>

            <p class="h5 text-center mb-4">
                Vehicles 
                
                <button [hidden]="missionService.isMissionReadOnly"
                        type="button" style="float: right; margin-bottom: 10px; border-radius: 50%;" 
                        class="btn btn-danger waves-light add-btn"
                        data-toggle="dropdown"
                        (click)="openVehicleListPopup()"
                        data-toggle="modal" data-target="#vehicleListPopup">
                    <i class="fa fa-plus plus-icon"></i>
                </button>
            </p>
            <table class="table">
                <thead>
                    <tr>
                    <th> Type </th>
                    <th> Model </th>
                    <th> S/N </th>
                    <th> State (%) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vehicles;">
                    <td> {{ v.type }} </td>
                    <td> {{ v.model }} </td>
                    <td> {{ v.sn }} </td>
                    <td> {{ v.state }} </td>
                    </tr>
                </tbody>
            </table>
            

                <div class="form-row" [hidden]="missionService.isMissionReadOnly">
                  <div class="col-md-6">
                      <button class="btn btn-success" style="float:right" type="submit" [disabled]="f.invalid">Save</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
                  </div>
                </div>
                <div class="form-row" [hidden]="!missionService.isMissionReadOnly">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-success waves-light btn-mission" style="float:right" (click)="editMission()">
                          <i class="fa fa-pencil"> </i> Edit
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-danger waves-light btn-mission" (click)="delMission()">
                          <i class="fa fa-trash"> </i> Remove
                      </button>
                    </div>
                </div>
            </form>
</div>
<popup-vehicles 
                    [popupName]="'vehicleListPopup'"
                    (eventClosePopup)="closeVehiclePopup()"
                    (eventOnSelectRootVehicle)="onSelectRootVehicle()"
                    (eventGetSelectedVehicle)="selectVehicle($event)">
</popup-vehicles>