<h2 style="text-align: center">
    Gaudi Team
  </h2>
  
  <div class="card-deck" style="margin-bottom:30px">
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/anton.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Anton Shilov</h5>
        <p class="card-text">Team Leader.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/ivan.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ivan Osadchiy</h5>
        <p class="card-text">Architect.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/alex.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Alexey Savalyev</h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div>
  </div>
  
  <div class="card-deck" style="margin-bottom:30px">
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/kostya.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Konstantin Kubrak</h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/ilya.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ilya Voloshanovskiy</h5>
        <p class="card-text">Architect.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/azamat.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Azamat Sadrtdinov</h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div>
  </div>
  <div class="card-deck" style="margin-bottom:30px">
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/dima.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dima Gordin</h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height:300px;" src="../../../assets/pics/azat.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Azat Nobatov </h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div>
    <div class="card">
      <!-- <img class="card-img-top" style="height:300px;" src="../../../assets/pics/azamat.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Azat Nobatov</h5>
        <p class="card-text">Agile Developer.</p>
      </div>
    </div> -->
  </div>