<div class="container">
    <div class="card card-container">
        <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
        <p id="profile-name" class="profile-name-card"> Вход в систему </p>
        <form novalidate
              class="form-signin"
              #f="ngForm"
              (ngSubmit)="login()">
            <span id="reauth-email" class="reauth-email"></span>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              </div>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" required autofocus>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
              </div>
              <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" required autofocus>
            </div>
            
            <!-- <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button class="btn btn-lg btn-danger btn-block btn-signin" type="submit">Войти</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Востановить пароль
        </a>
    </div><!-- /card-container -->
</div>