<div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card"> Sign in </p>
        <form novalidate
              class="form-signin"
              #f="ngForm"
              (ngSubmit)="login()">
            <span id="reauth-email" class="reauth-email"></span>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              </div>
              <input type="email" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="user.login" placeholder="Email" required autofocus>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
              </div>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" [(ngModel)]="user.password" placeholder="Password" required autofocus>
            </div>

            <button class="btn btn-lg btn-danger btn-block btn-signin" type="submit">Login</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot password?
        </a>
    </div><!-- /card-container -->
</div>