<div  #elem [attr.id]= "popupName"  class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vehicles</h4>
                <button type="button" class="close" (click)="closeVehiclePopup()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="no-padding">
                    <li *ngFor="let vehicle of vehicles" (click)="selectVehicle(vehicle)" data-dismiss="modal">
                    <div class="vehicle-each">
                        {{vehicle.model}} | {{vehicle.sn}}
                    </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeVehiclePopup()" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>