.rem-btn {
    border-radius: 50%;
    cursor: pointer;
}

.align-right {
    float: right;
}

section {
    margin-bottom: 30px;
}

.failure {
    background-color: #FFA8A8;
}

.success {
    background-color: #B2FF95;
}

.warning {
    background-color: #FFF881;
}