<div class="view">
 <div class="missions">
    <aol-map class="map">
    <aol-interaction-default></aol-interaction-default>
    <aol-view [zoom]="zoom">
      <aol-coordinate [x]="xCenter" [y]="yCenter" [srid]="'EPSG:4326'"></aol-coordinate>
    </aol-view>
    <aol-layer-tile [opacity]="opacity">
      <aol-source-osm></aol-source-osm>
    </aol-layer-tile>
    <aol-layer-vector [opacity]="opacity">
      <aol-source-vector>
        <aol-feature>
          <aol-geometry-point>
            <aol-coordinate [x]="xMove" [y]="yMove" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-circle [radius]="10">
              <aol-style-stroke [color]="'black'" [width]="width"></aol-style-stroke>
              <aol-style-fill [color]="'green'"></aol-style-fill>
            </aol-style-circle>
          </aol-style>
        </aol-feature>
        <aol-feature>
          <aol-geometry-point>
            <aol-coordinate [x]="xPointA" [y]="yPointA" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-icon
              [src]="'assets/pics/startPoint.png'"
              [anchor]="[0.5, 1]"
              [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
              [scale]="0.1"
              [anchorOrigin]="'top-left'">
            </aol-style-icon>
          </aol-style>
        </aol-feature>
        <aol-feature>
          <aol-geometry-point>
            <aol-coordinate [x]="xPointB" [y]="yPointB" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-geometry-point>
          <aol-style>
            <aol-style-icon
              [src]="'assets/pics/endPoint.png'"
              [anchor]="[0.5, 1]"
              [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
              [scale]="0.1"
              [anchorOrigin]="'top-left'">
            </aol-style-icon>
          </aol-style>
        </aol-feature>
        <aol-feature>
            <aol-geometry-linestring>
                <aol-collection-coordinates 
                    [coordinates]="route" 
                    [srid]="'EPSG:4326'" >
                </aol-collection-coordinates>
            </aol-geometry-linestring>
            <aol-style>
                <aol-style-stroke [color]="'blue'" [width]="3" ></aol-style-stroke>
            </aol-style>
        </aol-feature>
      </aol-source-vector>
    </aol-layer-vector>    
   </aol-map>
    <div class="vehicles">
      <table class="table">
          <thead>
              <th> Vehicles </th>
          </thead>
          <tbody>
            <tr *ngFor="let v of mission.vehicles; trackBy: identify" (click)="getVehicleStatus(v)" id="vrow{{v.id}}" class="vrow"> 
              <td> {{v.model}} </td>
            </tr>
          </tbody>
        </table>
    </div>
    
</div>
<app-graph class="graphics"></app-graph>
</div>