/* TO-DO: remove spacing */
.page-content-wrapper{
    padding: 0px;
    left: 250px;
    width: 100%;
  }

.missions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.map {
    width: 75%;
}

.vehicles {
    padding: 10px;
}

.graphics {
    height: 100%;
}

.routeDetails {
    display: inline-grid;
    padding: 5px;
}

.controls {
    border-right: 1px solid black;
}

.zoom {
    margin-top: 30px;
}