/* TO-DO: remove spacing */
.page-content-wrapper{
    padding: 0px;
    left: 250px;
    width: 100%;
  }

.view {
    display: flex;
    flex-direction: column;
}

#canvas {
    height:100px !important;
}

.missions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
}

.notification {
    background-color: white;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.notification:empty {
    display: none;
}

.map {
    width: 75%;
}

.vehicles {
    padding: 10px;
    width: 25%;
}

.graphics {
    padding: 3px;
}

.routeDetails {
    display: inline-grid;
    padding: 5px;
}

.controls {
    border-right: 1px solid black;
}

.zoom {
    margin-top: 30px;
}

.table tr:hover {
    cursor: pointer;
    background: aquamarine;
}

.selected {
    background: aquamarine;
}